.movie-card{
    /* padding: 15px; */
    /* width: 400px; */
    border: 3px solid black;
    border-radius: 7px 9px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    margin: 10px;
    color: white;
    background-color: black;
}

.movie-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.1); */
    transition: all 0.3s ease-in-out;
}

.movie-image{
    width: 179.5px;
}